<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>FoodHub</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>Helvetica-Bold.ttf</string>
		<string>Helvetica.ttf</string>
		<string>SofiaProBlack-Italic.ttf</string>
		<string>SofiaProBlack.ttf</string>
		<string>SofiaProBold-Italic.ttf</string>
		<string>SofiaProBold.ttf</string>
		<string>SofiaProExtraLight-Italic.ttf</string>
		<string>SofiaProExtraLight.ttf</string>
		<string>SofiaProLight-Italic.ttf</string>
		<string>SofiaProLight.ttf</string>
		<string>SofiaProMedium-Italic.ttf</string>
		<string>SofiaProMedium.ttf</string>
		<string>SofiaProRegular-Italic.ttf</string>
		<string>SofiaProRegular.ttf</string>
		<string>SofiaProSemiBold-Italic.ttf</string>
		<string>SofiaProSemiBold.ttf</string>
		<string>SofiaProUltraLight-Italic.ttf</string>
		<string>SofiaProUltraLight.ttf</string>
		<string>SofiaSans-Black.ttf</string>
		<string>SofiaSans-BlackItalic.ttf</string>
		<string>SofiaSans-Bold.ttf</string>
		<string>SofiaSans-BoldItalic.ttf</string>
		<string>SofiaSans-ExtraBold.ttf</string>
		<string>SofiaSans-ExtraBoldItalic.ttf</string>
		<string>SofiaSans-ExtraLight.ttf</string>
		<string>SofiaSans-ExtraLightItalic.ttf</string>
		<string>SofiaSans-Italic-VariableFont_wght.ttf</string>
		<string>SofiaSans-Italic.ttf</string>
		<string>SofiaSans-Light.ttf</string>
		<string>SofiaSans-LightItalic.ttf</string>
		<string>SofiaSans-Medium.ttf</string>
		<string>SofiaSans-MediumItalic.ttf</string>
		<string>SofiaSans-Regular.ttf</string>
		<string>SofiaSans-SemiBold.ttf</string>
		<string>SofiaSans-SemiBoldItalic.ttf</string>
		<string>SofiaSans-Thin.ttf</string>
		<string>SofiaSans-ThinItalic.ttf</string>
		<string>SofiaSans-VariableFont_wght.ttf</string>
	</array>
</dict>
</plist>
